name: Migrate-to-Flex
on:
  pull_request:

defaults:
  run:
    # reference: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#using-a-specific-shell
    shell: bash --noprofile --norc -eo pipefail -x {0}

jobs:
  Intree-test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: setup cluster resources
      uses: ./.github/workflows/setup-cluster-resources
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Test migration of all PVC
      run: tests/script/github_action_helper.sh test_flex_migration_for_all_pvc

    - name: setup tmate session for debugging when event is PR
      if: failure()
      uses: mxschmitt/action-tmate@v3
      timeout-minutes: 300

  Flex-Mirgate-single-PVC:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: setup cluster resources
      uses: ./.github/workflows/setup-cluster-resources
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Test migration of all PVC
      run: tests/script/github_action_helper.sh test_flex_migration_for_single_pvc

    - name: setup tmate session for debugging when event is PR
      if: failure()
      uses: mxschmitt/action-tmate@v3
      timeout-minutes: 300
